
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center; 
}



.hover-animate-button {
  background-color: #2941c7;
  color: #ffffff;
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.hover-animate-button:hover {
  transform: scale(1.15);
  background-color: #ffffff !important;
  color: #2941c7;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}



.fade-in {
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.ant-message {
  z-index: 9999 !important;
}

.app-sider {
  
  height: 100vh;
  overflow-y: auto;
}
